pug/views/configuration.pug
extends /default.pug

block view
  .row
    .col-sm-12
      h1 Configuration
    .col-sm-12
      .alert.alert-success(role="alert") Trigger created
  .row.mb-2
    .col-sm-5.offset-sm-1
      .row.mb-4
        .col-sm-3
          label(for="triggerNameInput")
            strong Trigger name
        .col-sm-9
          input.form-control(type="text" name="triggerNameInput" placeholder="Call for UK out-of-hours team")
      .row.mb-4
        .col-sm-3
          label(for="logicTypeOption")
            strong Logic type
        .col-sm-9
          select.form-control(name="logicTypeOption")
            option(value="1") Match all trigers
            option(value="2")
            option(value="3")
    .col-sm-4.offset-sm-2
      button.btn.btn-success(type="button") Test Trigger
      button.btn.btn-success(type="button") Save
      button.btn.btn-primary(type="button") All Triggers
  .row
    .col-sm-12
      h2 Rules
      hr
    .col-sm-4
      strong If the shopper sees this
    .col-sm-8
      strong Recommend Products According to the Following Criteria
    .col-sm-12
      hr
  .row.mb-3
    .col-sm-4
      select.form-control(name="businessHoursOption")
        option(value="1") Any Product
        option(value="2") Select Product
        option(value="3") Combine Product
    .col-sm-3
      select.form-control(name="isNotGivenOption")
        option(value="1") show
        option(value="2") hide
    .col-sm-3
      select.form-control(name="isNotGivenOption2")
        option(value="1") Select field ...
    .col-sm-1.offset-sm-1
      button.btn.btn-danger(type="button")
        i.icons.cui-trash
    .col-sm-12
      hr
  .row.mb-3
    .col-sm-4
      select.form-control(name="businessHoursOption")
        option(value="1") Any Product
        option(value="2") Select Product
        option(value="3") Combine Product
    .col-sm-3
      select.form-control(name="isNotGivenOption")
        option(value="1") show
        option(value="2") hide
    .col-sm-3
      select.form-control(name="isNotGivenOption2")
        option(value="1") Select field ...
    .col-sm-1.offset-sm-1
      button.btn.btn-danger(type="button")
        i.icons.cui-trash
    .col-sm-12
      hr

  .row.mb-4
    .col-12.col-lg-4
      button.btn.btn-primary(type="button") + Add condition
      button.btn.btn-success(type="button") Save Conditions

  .jumbotron.back-white
    .row
      .col-12
        h2 PDP Appearance
    .row
      .col-6
        .card
          .card-body
            h3 Number of Items in Outfit
            .row
              .col-12
                p Select the range of items that appear in an outfit
            .row
              .col-2
                | Min
                input(type='number' value='1' min='1' max='10')
              .col-2
                | Max
                input(type='number' value='5' min='1' max='10')
      .col-6
        .card
          .card-body
            h3 Number of Outfits
            .row
              .col-12
                p Select the maximum number of outfits per PDP
            .row
              .col-3
                | Max
                input(type='number' value='1' min='1' max='10')


  .jumbotron.back-white
    .row
      .col-12
        .card
          .card-header
            h3 Seasons
          .card-body
            .row
              .col-8
                | Combine items for diferent Seasons?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")

    .row
      .col-12
        .card
          .card-header
            h3 Sale Items
          .card-body
            .row
              .col-8
                | Combine sale items and regularly priced items?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")

    .row
      .col-12
        .card
          .card-header
            h3 Style
          .card-body
            .row
              .col-8
                | Combine items from different styles?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")

    .row
      .col-12
        .card
          .card-header
            h3 Occasions
          .card-body
            .row
              .col-8
                | Combine items from different ocassions?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")
                button.btn.btn-secondary.mt-2 Set Default

    .row
      .col-12
        .card
          .card-header
            h3 Brands
          .card-body
            .row
              .col-8
                | Combine items from different brands?
              .col-4
                select.form-control(name="comboCombine")
                  option(value="1") Select Default
                  option(value="2")
                  option(value="3")
                button.btn.btn-secondary.mt-2 Set Default

static/configuration.html
<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.0.0
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    <link href="node_modules/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      // Shared ID
      gtag('config', '');
      // Bootstrap ID
      gtag('config', '');
    </script>
  </head>
  <body class="app header-fixed sidebar-minimized aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#"><img class="navbar-brand-full" src="img/brand/viume-small.png" width="89" height="25" alt="CoreUI Logo"><img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo"></a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show"><span class="navbar-toggler-icon"></span></button>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none"><a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a></li>
        <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com"></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center"><strong>Account</strong></div><a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a><a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a><a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a><a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>
            <div class="dropdown-header text-center"><strong>Settings</strong></div><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a><a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a><a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a><a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a><a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show"><span class="navbar-toggler-icon"></span></button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show"><span class="navbar-toggler-icon"></span></button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-title">Viume</li>
            <li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#"><i class="nav-icon icon-speedometer"></i> Dashboard</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item"><a class="nav-link" href="index.html#overview"><i class="nav-icon icons cui-pie-chart"></i> Overview</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#recomendations"><i class="nav-icon icons cui-star"></i> Recommendations</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#customers"><i class="nav-icon icons cui-people"></i> Customers</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#marketing"><i class="nav-icon icons cui-globe"></i> Marketing activities</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="configuration.html"><i class="nav-icon icons cui-cog"></i> Configuration</a></li>
            <li class="nav-item"><a class="nav-link" href="accounts.html"><i class="nav-icon icon-user"></i> Account</a></li>
            <!--include menu.pug-->
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-sm-12">
              <h1>Configuration</h1>
            </div>
            <div class="col-sm-12">
              <div class="alert alert-success" role="alert">Trigger created</div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-5 offset-sm-1">
              <div class="row mb-4">
                <div class="col-sm-3">
                  <label for="triggerNameInput"><strong>Trigger name</strong></label>
                </div>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="triggerNameInput" placeholder="Call for UK out-of-hours team">
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-sm-3">
                  <label for="logicTypeOption"><strong>Logic type</strong></label>
                </div>
                <div class="col-sm-9">
                  <select class="form-control" name="logicTypeOption">
                    <option value="1">Match all trigers</option>
                    <option value="2"></option>
                    <option value="3"></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4 offset-sm-2">
              <button class="btn btn-success" type="button">Test Trigger</button>
              <button class="btn btn-success" type="button">Save</button>
              <button class="btn btn-primary" type="button">All Triggers</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h2>Rules</h2>
              <hr>
            </div>
            <div class="col-sm-4"><strong>If the shopper sees this</strong></div>
            <div class="col-sm-8"><strong>Recommend Products According to the Following Criteria</strong></div>
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <select class="form-control" name="businessHoursOption">
                <option value="1">Any Product</option>
                <option value="2">Select Product</option>
                <option value="3">Combine Product</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control" name="isNotGivenOption">
                <option value="1">show</option>
                <option value="2">hide</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control" name="isNotGivenOption2">
                <option value="1">Select field ...</option>
              </select>
            </div>
            <div class="col-sm-1 offset-sm-1">
              <button class="btn btn-danger" type="button"><i class="icons cui-trash"></i></button>
            </div>
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <select class="form-control" name="businessHoursOption">
                <option value="1">Any Product</option>
                <option value="2">Select Product</option>
                <option value="3">Combine Product</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control" name="isNotGivenOption">
                <option value="1">show</option>
                <option value="2">hide</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control" name="isNotGivenOption2">
                <option value="1">Select field ...</option>
              </select>
            </div>
            <div class="col-sm-1 offset-sm-1">
              <button class="btn btn-danger" type="button"><i class="icons cui-trash"></i></button>
            </div>
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12 col-lg-4">
              <button class="btn btn-primary" type="button">+ Add condition</button>
              <button class="btn btn-success" type="button">Save Conditions</button>
            </div>
          </div>
          <div class="jumbotron back-white">
            <div class="row">
              <div class="col-12">
                <h2>PDP Appearance</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <h3>Number of Items in Outfit</h3>
                    <div class="row">
                      <div class="col-12">
                        <p>Select the range of items that appear in an outfit</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">Min
                        <input type="number" value="1" min="1" max="10">
                      </div>
                      <div class="col-2">Max
                        <input type="number" value="5" min="1" max="10">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <h3>Number of Outfits</h3>
                    <div class="row">
                      <div class="col-12">
                        <p>Select the maximum number of outfits per PDP</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">Max
                        <input type="number" value="1" min="1" max="10">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="jumbotron back-white">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Seasons</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">Combine items for diferent Seasons?</div>
                      <div class="col-4">
                        <select class="form-control" name="comboCombine">
                          <option value="1">Select Default</option>
                          <option value="2"></option>
                          <option value="3"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Sale Items</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">Combine sale items and regularly priced items?</div>
                      <div class="col-4">
                        <select class="form-control" name="comboCombine">
                          <option value="1">Select Default</option>
                          <option value="2"></option>
                          <option value="3"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Style</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">Combine items from different styles?</div>
                      <div class="col-4">
                        <select class="form-control" name="comboCombine">
                          <option value="1">Select Default</option>
                          <option value="2"></option>
                          <option value="3"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Occasions</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">Combine items from different ocassions?</div>
                      <div class="col-4">
                        <select class="form-control" name="comboCombine">
                          <option value="1">Select Default</option>
                          <option value="2"></option>
                          <option value="3"></option>
                        </select>
                        <button class="btn btn-secondary mt-2">Set Default</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Brands</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">Combine items from different brands?</div>
                      <div class="col-4">
                        <select class="form-control" name="comboCombine">
                          <option value="1">Select Default</option>
                          <option value="2"></option>
                          <option value="3"></option>
                        </select>
                        <button class="btn btn-secondary mt-2">Set Default</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <aside class="aside-menu">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icon-speech"></i></a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a></li>
        </ul>
        <!-- Tab panes-->
        <div class="tab-content">
          <div class="tab-pane active" id="timeline" role="tabpanel">
            <div class="list-group list-group-accent">
              <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Today</div>
              <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
                <div class="avatar float-right"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"></div>
                <div>Meeting with<strong>Lucas</strong></div><small class="text-muted mr-3"><i class="icon-calendar"></i>  1 - 3pm</small><small class="text-muted"><i class="icon-location-pin"></i>  Palo Alto, CA</small>
              </div>
              <div class="list-group-item list-group-item-accent-info">
                <div class="avatar float-right"><img class="img-avatar" src="img/avatars/4.jpg" alt="admin@bootstrapmaster.com"></div>
                <div>Skype with<strong>Megan</strong></div><small class="text-muted mr-3"><i class="icon-calendar"></i>  4 - 5pm</small><small class="text-muted"><i class="icon-social-skype"></i>  On-line</small>
              </div>
              <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Tomorrow</div>
              <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
                <div>New UI Project -<strong>deadline</strong></div><small class="text-muted mr-3"><i class="icon-calendar"></i>  10 - 11pm</small><small class="text-muted"><i class="icon-home"></i>  creativeLabs HQ</small>
                <div class="avatars-stack mt-2">
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/2.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/3.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/4.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/5.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com"></div>
                </div>
              </div>
              <div class="list-group-item list-group-item-accent-success list-group-item-divider">
                <div><strong>#10 Startups.Garden</strong> Meetup</div><small class="text-muted mr-3"><i class="icon-calendar"></i>  1 - 3pm</small><small class="text-muted"><i class="icon-location-pin"></i>  Palo Alto, CA</small>
              </div>
              <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
                <div><strong>Team meeting</strong></div><small class="text-muted mr-3"><i class="icon-calendar"></i>  4 - 6pm</small><small class="text-muted"><i class="icon-home"></i>  creativeLabs HQ</small>
                <div class="avatars-stack mt-2">
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/2.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/3.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/4.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/5.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"></div>
                  <div class="avatar avatar-xs"><img class="img-avatar" src="img/avatars/8.jpg" alt="admin@bootstrapmaster.com"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane p-3" id="messages" role="tabpanel">
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
              </div>
              <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-1">1:52 PM</small></div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
              </div>
              <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-1">1:52 PM</small></div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
              </div>
              <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-1">1:52 PM</small></div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
              </div>
              <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-1">1:52 PM</small></div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar"><img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
              </div>
              <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-1">1:52 PM</small></div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
          </div>
          <div class="tab-pane p-3" id="settings" role="tabpanel">
            <h6>Settings</h6>
            <div class="aside-options">
              <div class="clearfix mt-4"><small><b>Option 1</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox" checked=""><span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3"><small><b>Option 2</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox"><span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3"><small><b>Option 3</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox"><span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3"><small><b>Option 4</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox" checked=""><span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <hr>
            <h6>System Utilization</h6>
            <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-muted">348 Processes. 1/4 Cores.</small>
            <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-muted">11444GB/16384MB</small>
            <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-muted">243GB/256GB</small>
            <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-muted">25GB/256GB</small>
          </div>
        </div>
      </aside>
    </div>
    <footer class="app-footer">
      <div><a href="https://viume.com">Viume</a><span>&copy; 2018.</span></div>
    </footer>
    <!-- CoreUI and necessary plugins-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/pace-progress/pace.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
    <script src="js/cookies.js"></script>
    <script src="js/basic.js"></script>
  </body>
</html>
