static/index-marketing.html
<div class="row">
  <div class="col-sm-12"><a name="marketing">
      <h2>Marketing Activities</h2>
    </a></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="list-group"><a class="list-group-item list-group-item-action">Remarketing</a><a class="list-group-item list-group-item-action">Direct marketing</a><a class="list-group-item list-group-item-action">Social ads</a><a class="list-group-item list-group-item-action">Traffic</a></div>
  </div>
</div>

pug/views/index-marketing.pug

.row
  .col-sm-12
    a(name='marketing')
      h2 Marketing Activities
.row
  .col-sm-12
    .list-group
      a.list-group-item.list-group-item-action Remarketing
      a.list-group-item.list-group-item-action Direct marketing
      a.list-group-item.list-group-item-action Social ads
      a.list-group-item.list-group-item-action Traffic
